body {
    font-family: Inconsolata, sans-serif;
    margin: 0;
    background-color: #FFFAFA;
    overflow-x: hidden;
}

.menuButton {
    text-decoration: none;
    font-size: 1rem;
    color: #000000;
}

#aboutMeNavGrid {
    position: relative;
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

#aboutMe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Inconsolata, sans-serif;
    text-transform: uppercase;
    align-content: center;
    font-weight: 500;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

#aboutMeShowMoreText {
    height: 25%;
    position: relative;
    width: 3%;
    margin-left: 2%;
    background-color: #EFA561;
    border-radius: 15px;
    border: #000000 dashed 2.5px;
    transition: all 1s ease;
}

#aboutMeShowMoreText:hover {
    background-color: #cc7000;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

#titleAboutMe {
    padding-bottom: 3%;
    padding-top: 3%;
    margin-top: 0;
    margin-bottom: 3%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#circle2AboutMe {
    background-color: #EFA561;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    top: 21%;
    left: 21%;
    position: absolute;
}

#circle1AboutMe {
    background-color: #F0C28C;
    border-radius: 50%;
    height: 57px;
    width: 57px;
    left: 30%;
    position: absolute;
}

#circle3AboutMe {
    background-color: #F0C28C;
    border-radius: 50%;
    height: 57px;
    width: 57px;
    right: 30%;
    position: absolute;
}

#circle4AboutMe {
    background-color: #EFA561;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    top: 21%;
    right: 20%;
    position: absolute;
}

#containerForAboutMePageText {
    width: 100vw;
    height: 20vh;
    position: relative;
    display: flex;
    align-items: center;
}

#boxForAboutMePageText {
    position: relative;
    width: 10%;
    height: 90%;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    align-content: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #F0C28C;
    flex-wrap: wrap;
    justify-content: center;
    transition: width .75s ease;
    align-items: center;
}

#textAboutMe {
    visibility: hidden;
    height: 65%;
    display: flex;
    width: 55%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#historyPic {
    position: relative;
    height: 90vh;
    overflow: hidden;
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-top: #272727 solid 2px;
    border-bottom: #272727 solid 2px;
}

.hPic {
    background-size: cover;
    width: 100%;
    height: 100%;
}

#picBackward {
    margin-left: 2%;
    background-color: #EFA561;
    width: 50px;
    height: 100px;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}

#boxPics {
    background-size: cover;
    overflow: hidden;
    width: 30%;
    height: 40%;
}

#picBackward:hover {
    background-color: #cc7000;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

#picForward {
    margin-left: 2%;
    background-color: #EFA561;
    width: 50px;
    height: 100px;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}

#picForward:hover {
    background-color: #cc7000;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

#containerHistoryText {
    width: 100vw;
    height: 20vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#boxHistoryText {
    border-radius: 20px;
    height: 60%;
    display: flex;
    width: 35%;
    background-color: #EFA561;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#historyText {
    position: relative;
    display: flex;
    width: 89%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#containerFirstIdeaContent {
    position: relative;
    width: 100vw;
    height: 57vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

#boxFirstIdeaContent {
    width: 55%;
    height: 80%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    align-content: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #F0C28C;
    flex-wrap: wrap;
    justify-content: center;
}

#containerGenericCharacteristicContent {
    position: relative;
    width: 100vw;
    height: 57vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}

#boxGenericCharacteristicContent {
    width: 55%;
    height: 80%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    align-content: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #F0C28C;
    flex-wrap: wrap;
    justify-content: center;
}

.PostMeinung {
    background-color: #EFA561;
    transition: all 1s ease;
    height: 50%;
    align-self: center;
}

.PostMeinung:hover {
    background-color: #cc7000;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

#contact {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.boxComment {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
}

#containerContact {
    width: 100vw;
    height: 80vh;
    position: relative;
    background-color: #EFA561;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#boxContact {
    width: 47%;
    height: 80%;
    position: relative;
    display: flex;
    border: #FFFFFF dashed 5px;
    border-radius: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#aboutMeFooter {
    display: flex;
    margin-top: 5%;
    flex-direction: row;
    font-family: Inconsolata, sans-serif;
    flex-wrap: wrap;
    align-content: flex-end;
    background-color: #EFA561;
    align-items: baseline;
    justify-content: space-around;
}