

body {
    font-family: Inconsolata, sans-serif;
    margin: 0;
    background-image: linear-gradient(to right, #F9D976, #F39F86);
}

#navGrid {
    position: relative;
    height: 6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

.menuButton {
    margin-right: 5%;
}

#headerGrid {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    align-items: center;
    background-size: cover;
    font-size: 300%;
    background: linear-gradient(rgba(120, 93, 115,.7), rgba(130, 100, 100,.7)), url(https://digital.ihg.com/is/image/ihg/crowne-plaza-amsterdam-7059109412-2x1);
    width: 100vw;
    height: 100vh;
}

#iconHibiscusTitle {
    opacity: 0.7;
    position: relative;
    height: 40%;
    margin-right: 5%;
}

#textWelcomeToHibiscus {
    position: relative;
    text-transform: uppercase;
    filter: brightness(1.50);
    color: #FFFFFF;
    text-shadow: 3px 3px 6px #272727;
}


#contentOpeningHours {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#contentCelebrations {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.eventItem {
    margin-right: 2%;
    height: 200px;
    margin-top: 2%;
    width: 200px;
    box-shadow: 1px 0px 17px 0px #606060;
    border-radius: 15px;
    border: 2px solid #272727;
}

#container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#welcomeText {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.welcome {
    font-size: 300%;
}

.firstParagraph {
    filter: brightness(1.75);
    text-align: justify;
    margin-top: 5%;
    hyphens: auto;
    font-size: 145%;
}

#containerTextWelcome {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#openingTitle {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    padding-bottom: 5%;
    align-content: center;
    justify-content: center;
    align-items: center;
    top: 10%;
    font-size: 142%;
    border-top: #272727 dotted 2px;
    border-bottom: #272727 dotted 2px;
}

.openingTableRow {
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-bottom: #272727 dotted 2px;
}

#tableOpening {
    position: relative;
    width: 55%;
}

#footer {
    display: flex;
    margin-top: 5%;
    flex-direction: row;
    font-family: Inconsolata, sans-serif;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: baseline;
    justify-content: space-around;
}


#navigation {
    background-image: linear-gradient(to right, #FC575E, #F7B42C);
    position: relative;
    font-weight: bold;
    font-size: 118%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}

#navigation a {
    color: #272727;
    text-decoration: none;
    align-content: center;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-right: 3%;
    width: 4%;
    height: 20%;
}

#navigation a:hover {
    border-bottom: #FFFFFF dotted 2px;
    border-top: #FFFFFF dotted 2px;
}
