#layoutMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

#menuNavGrid {
    position: relative;
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

body {
    font-family: Inconsolata, sans-serif;
    margin: 0;
    background-color: #FFFAFA;
    overflow-x: hidden;
}

#containerVorspeisen {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

#orangeBoxVorspeisen {
    width: 70%;
    height: 90%;
    display: flex;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    align-content: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #F0C28C;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.commentsAndMenu{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 90%;
    align-items: center;
    justify-content: flex-start;
}

.commentsNach li {
    height: 15%;
    padding: 2% 2% 2% 2%;
    width: auto;
    border-radius: 20px;
    border: #cc7000 dashed 2px;
    margin-right: 3%;
}

.boxComment {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.CommentBox {
    width: 50%;
    border-radius: 10px;
    margin-right: 2%;
}

.PostMeinung {
    background-color: #EFA561;
    transition: all 1s ease;
    height: 50%;
    align-self: center;
}

.PostMeinung:hover {
    background-color: #cc7000;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.commentList {
    width: 20%;
    margin-right: 5%;
    height: 100%;
    overflow: scroll;
    list-style: none;
}

.commentList li {
    margin-top: 2%;
    margin-bottom: 2%;
    height: 10%;
    padding: 1% 1% 1% 1%;
    width: auto;
    border-radius: 20px;
    border: #cc7000 dashed 2px;
    margin-right: 3%;
}

.commentList::-webkit-scrollbar {
    display: none;
}

#dottedWhiteMenuVorspeisen {
    width: 50%;
    height: 60%;
    border: #FFFFFF dashed 5px;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#commentsAndMenuHaupt {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 90%;
    align-items: center;
    justify-content: flex-end;
}

#circle1Menu {
    background-color: #F0C28C;
    border-radius: 50%;
    height: 57px;
    width: 57px;
    left: 30%;
    position: absolute;
}

#circle2Menu {
    background-color: #EFA561;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    top: 21%;
    left: 21%;
    position: absolute;
}

#circle3Menu {
    background-color: #F0C28C;
    border-radius: 50%;
    height: 57px;
    width: 57px;
    right: 30%;
    position: absolute;
}

#circle4Menu {
    background-color: #EFA561;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    top: 21%;
    right: 20%;
    position: absolute;
}

#vorspeisePic {
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
    right: 10%;
    height: 40vh;
    top: 27%;
}

#containerHauptspeisen {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}

#orangeBoxHauptspeisen {
    width: 70%;
    height: 80%;
    display: flex;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    align-content: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #F0C28C;
    flex-wrap: wrap;
    justify-content: center;
}

#dottedWhiteMenuHauptspeisen {
    width: 50%;
    height: 60%;
    border: #FFFFFF dashed 5px;
    display: flex;
    border-radius: 30px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#hauptspeisePic {
    position: absolute;
    width: 30vw;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    height: 40vh;
    left: 10%;
    top: 27%;
}

#containerNachspeisen {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

#orangeBoxNachspeisen {
    width: 70%;
    height: 90%;
    display: flex;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #F0C28C;
    flex-wrap: wrap;
    justify-content: center;
}

#dottedWhiteMenuNachspeisen {
    width: 50%;
    height: 60%;
    border: #FFFFFF dashed 5px;
    display: flex;
    border-radius: 30px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

#nachspeisePic {
    position: absolute;
    width: 30vw;
    right: 10%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    height: 40vh;
    top: 27%;
}


.menuTitle {
    margin-bottom: 10%;
}

#menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Inconsolata, sans-serif;
    text-transform: uppercase;
    align-content: center;
    font-weight: 500;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

#navToMenu {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    margin-top: 5%;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}



#listNav {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#listNav li {
    margin-bottom: 5%;
    margin-left: 10%;
    height: 62%;
    width: 23%;
    display: flex;
    justify-content: center;
}

#listNav li:hover {
    border: #F7B42C dotted 2px;
    transition: 0.4s;
}

.fontTabel {
    font-size: 90%;
}

.menuButton {
    text-decoration: none;
    font-size: 1rem;
    color: #000000;
}

#menuFooter {
    display: flex;
    margin-top: 5%;
    flex-direction: row;
    font-family: Inconsolata, sans-serif;
    flex-wrap: wrap;
    align-content: flex-end;
    background-color: #EFA561;
    align-items: baseline;
    justify-content: space-around;
}